<h1>Create an account</h1>
<form action="/register" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="user[name]" placeholder="Used to login to the system"\>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="user[email]" placeholder="Used to send verification" \>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]" \>
  </div>

  <div>
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" id="password_confirmation" name="user[password_confirmation]" \>
  </div>

  <div>
    <input type="submit" value="Register" class="hollow button">
  </div>

</form>